# PostgreSQL 資料庫設定
# 請依照本地設定填入 DB 名稱、帳號、密碼
DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<database_name>

# 綠界金流設定
ECPAY_MERCHANT_ID=
ECPAY_HASH_KEY=
ECPAY_HASH_IV=
# 綠界伺服器通知後端的交易結果回傳 URL（需與綠界後台設定一致）
ECPAY_RETURN_URL=http://localhost:3000/api/handleReturn
# 綠界付款完成後，客戶端瀏覽器跳轉回來的 URL
ECPAY_CLIENT_BACK_URL=http://localhost:3000/payment/success

# JWT 設定
PORT=3000
JWT_SECRET=

# AWS S3 設定
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
AWS_REGION=ap-northeast-1
