#請使用自己本地設定的pg密碼跟db名稱
DATABASE_URL= postgres://postgres:000000@localhost:5432/postgres

# 綠界金流設定
ECPAY_MERCHANT_ID=3002607
ECPAY_HASH_KEY=pwFHCqoQZGmho4w6
ECPAY_HASH_IV=EkRm7iFT261dpevs
# 綠界回傳 URL - 這是綠界伺服器會 POST 交易結果到您的後端的 URL
ECPAY_RETURN_URL= https://4b48-2001-b011-8-7bfb-1d21-570c-87cf-1471.ngrok-free.app/api/handleReturn

# 綠界客戶端跳轉 URL - 這是之後點返回商店要跳轉的那個畫面的網址
#但因為專案沒有部屬到網路上所以這個先隨便填之後應該是填首頁網址或訂單網址
ECPAY_CLIENT_BACK_URL= https://4b48-2001-b011-8-7bfb-1d21-570c-87cf-1471.ngrok-free.app

#登入jwt驗證
PORT=3000
JWT_SECRET=mySuperSecretKey